<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to judge</title>
  </head>
  <body>
    <!--&lt;!&ndash; navbar &ndash;&gt;-->
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="{{servlet-context}}/">judge</a>-->
        <!--</div>-->
        <!--<div class="navbar-collapse collapse ">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>-->
            <!--<li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

