<font size="44">

    <h3>Welcome Judge</h3>

    {% if message %}
    <div style="color:red">{{message}}</div>
    {% endif %}

    <form method="post">
        Judge Name:
        <select style="font-size: 44" name="judge-name">
            {% for judge in judges %}
            <option class="jumbotron" value="{{judge.name}}">{{judge.name}} - {{judge.grade}}</option>
            {% endfor %}
        </select>
        <br>
        Password:
        <input id='password' style="font-size: 44" type="password" name="password" size="6">
        <br>


        <p/>
        <input id="login" style="font-size: 44" type="submit" value="Login">
    </form>
</font>