
<font size="50">

<h1>Judge</h1>

  Table: A   Position:  3   <br>
  Name: {{student}}

  <form action="/judge" method="post">
    <input type="hidden" name="student" value="{{student}}">
    <br>
    Problem statement:
    <select style="font-size: 50" name="problem">
      <option class="jumbotron" value="5">5 (best)</option>
      <option>4</option>
      <option selected>3</option>
      <option>2</option>
      <option>1</option>
    </select>
    <br>
    <br>

    Research:
    <select style="font-size: 50" name="research">
      <option class="jumbotron" value="5">5 (best)</option>
      <option>4</option>
      <option selected>3</option>
      <option>2</option>
      <option>1</option>
    </select>
    <br>
    <br>

    Hypothesis:
    <select style="font-size: 50" name="hypothesis">
      <option class="jumbotron" value="5">5 (best)</option>
      <option>4</option>
      <option selected>3</option>
      <option>2</option>
      <option>1</option>
    </select>
    <br>
    <br>

    Experiment:
    <select style="font-size: 50" name="experiment">
      <option class="jumbotron" value="5">5 (best)</option>
      <option>4</option>
      <option selected>3</option>
      <option>2</option>
      <option>1</option>
    </select>
    <br>
    <br>

    Observations:
    <select style="font-size: 50" name="observations">
      <option class="jumbotron" value="5">5 (best)</option>
      <option>4</option>
      <option selected>3</option>
      <option>2</option>
      <option>1</option>
    </select>
    <br>
    <br>

    <input style='font-size: 45' type="submit" value="Submit"/>
  </form>
  <p>

</p></font>
