
{% ifequal "Overall Effort Multiplier" name %}

<!--<input style="font-size: 40pt; width: 140pt;" onchange="is_valid_range(this,'{{name}}-error', 1.5)" name="{{name}}" type="number" step="0.1">-->
<!--<br>-->
<!--<span id="{{name}}-error"  >-->
<!--</span>-->

    {% include "templates/picker15.html" %}

{% else %}

<input style="font-size: 40pt; width: 140pt;" onchange="is_valid_range(this,'{{name}}-error', 5.0)" name="{{name}}" type="number" step="0.01">
<br>
<span id="{{name}}-error" >
(between 0.0 and 5.0)
</span>

{% endifequal %}
