
<style>
    td {   font-size: 300%;
    display: inline;
    padding: 10px;
    }


    input[type=submit]
    {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-left: 105px;
    }
    </style>


<div style="max-width: 800px">
    <font size="50">

<span style="padding:20px;float: right">
        <a href="{{servlet-context}}/cancel?n={{name}}">Cancel</a>
</span>

        <h2>Summary</h2>
        {% include "templates/stocktop.html" %}
        <br>
        <br>

        <form action="{{servlet-context}}/score-approved" method="post">
            <input type="hidden" name="name" value="{{name}}" />
            <input type="hidden" name="project-type" value="{{project-type}}" />

            <table>
                {% for criterion in criteria %}
                <tr>
                    <input type="hidden" name="{{criterion.0}}" value="{{criterion.1}}" />
                    <td>{{criterion.0}}</td>
                    <td>{{criterion.1}}</td>
                </tr>
                {% endfor }}

            </table>
            <br>
            You can use the back button and adjust scores if needed.<br>
            <br>
            Total Score: {{total-score}}
            <br>

            <br>
            <input id="confirm" type="submit" value="Confirm"/>
            <br>
        </form>
        <br>
    </font>
</div>
