<script>

    function is_valid_range( input_control, error_span, upper_limit) {
        if (input_control.value.trim().length > 0 && input_control.value >= 0 && input_control.value <= upper_limit ){
            document.getElementById(error_span).className="";
            return true;
         } else {
            input_control.focus();
            document.getElementById(error_span).className="error";
            input_control.scrollIntoView(true);
            return false;
        }
    }

    function get(x){
        return document.getElementsByName(x)[0];
    }

    function validate_inputs(){
        if ( true
//        is_valid_range(get('Visual Appearance'),'Visual Appearance-error', 20.0)
//            &&
//        is_valid_range(get('Oral Clarity'),'Oral Clarity-error', 20.0)
//            &&
//            is_valid_range(get('Scientific Subject'),'Scientific Subject-error', 20.0)
//            &&
//            is_valid_range(get('Overall Effort'),'Overall Effort-error', 1.5)
            ) {
               document.getElementById('scoring').submit();
            }
    }



</script>

<style>
    .error {
    color:red;
    }

    input[type=checkbox]
    {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(5); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    //padding: 70px;
    }

    input[type=submit]
    {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    }

    inputxxx[type=text]
    {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -o-transform: scale(2); /* Opera */
    -webkit-transform: scale(5); /* Safari and Chrome */
    font-size: 34pt
    }

    select
    {
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    padding: 10px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
    }
    }

    option
    {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 20px;
    margin: 20px;
    }

    .scoringtext
    {
    /* Checkbox text */
    /*font-size: 130%;*/
    display: inline;
    padding: 20px;
    }

</style>


<div style="max-width: 900px">
    <font size="50">

<span style="padding:20px;float: right">
        <a href="{{servlet-context}}/cancel?n={{name}}">Cancel</a>
</span>


        <h2>Judge</h2>

        <form id="scoring" action="{{servlet-context}}/scored" method="post" onsubmit="return false;">
            {% include "templates/stocktop.html" %}

            <input type="hidden" name="name" value="{{name}}">
            </input>
            <input type="hidden" name="project-type" value="{{project-type}}">
            </input>

            <div align="right">
                {% for criterion in criteria %}

                {% ifequal criterion.0 ":checkbox" %}
                {% else %}<br>
                {% endifequal %}

                    {% ifequal criterion.0 ":visual" %}
                    <label for="V{{criterion.1}}" class="scoringtext">
                           Visual
                        {% else %}
                            {% ifequal criterion.0 ":oral" %}
                    <label for="O{{criterion.1}}" class="scoringtext">
                                Oral
                            {% endifequal %}
                        {% endifequal %}

                    {{criterion.1}}&nbsp;
                        {% ifequal criterion.0 ":visual" %}
                    </label>
                        {% endifequal %}
                        {% ifequal criterion.0 ":oral" %}
                    </label>
                {% endifequal %}
                {% ifequal criterion.0 ":score1-1.5" %}
                {% with name=criterion.1 %}
                {% include "templates/picker1.html" %}
                {% endwith %}
                {% else %}
                {% ifequal criterion.0 ":score0-20" %}
                {% with name=criterion.1 %}
                {% include "templates/picker20.html" %}
                {% endwith %}
                {% else %}
                {% ifequal criterion.0 ":visual" %}
                <input type="checkbox" id="V{{criterion.1}}" name="Visual {{criterion.1}}" value="1"/>
                {% else %}
                <input type="checkbox" id="O{{criterion.1}}" name="Oral {{criterion.1}}" value="1"/>
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                <br>

                {% endfor %}
                <p>

                <center>
                    <input id='submitscore' style='font-size: 25' type="submit" onclick="return validate_inputs();"
                           value="Submit Scoring"/>
                </center>

                <p>
                </p>
            </div>
        </form>
    </font>
</div>