
<font size="30">

<span style="padding:20px;float: right">
        <a href="{{servlet-context}}/cancel?n={{name}}">Cancel</a>
</span>

    <h2>Judge</h2>

  Table: {{table_assignment}}  &nbsp;&nbspPosition: {{position}} &nbsp;&nbsp; Grade: {{grade}} &nbsp;&nbsp;Judged: {{judgements}}<br>
  Name: {{name}}<br>
    {% if partner %}
    <br>
    Name: {{partner}}
    {% endif %}

    <p></p>
    What is the project type?
    <p></p>
    &nbsp;
  <a href="{{servlet-context}}/score-by-name?name={{name}}&type=i">Informational</a>
    &nbsp;
    <a href="{{servlet-context}}/score-by-name?name={{name}}&type=e">Experimental</a>

</p></font>
