{% include "templates/style-choice.html" %}


<font >
    <p>Logged in as: {{user}} &nbsp;&nbsp;&nbsp; <a id='logout' href="{{servlet-context}}/logout">Logout</a></p>

    <b>Ready to Judge</b><br>


    You have judged {{you-judged-count}} students. &nbsp;  <a href="edit-judgements">Edit</a>
    <br>
        You could judge as many as {{could-judge}} more.
    <br>
    <br>
    <form action="{{servlet-context}}/score" method="get">
        {% if could-judge > 0 %}
        <input id="judge" type="submit" value="Judge a Project"/>
        {% else %}
        {% if judging-finished %}
        <b>Judging for your grade has finished.</b>
        {% else %}
        <a style='font-size: 45' href="{{servlet-context}}/begin">Check for Available Students</a>
        {% endif %}
        {% endif %}
    </form>

    <div>
    Current Grade {{stats.grade}} Overview
    </div>
    <table>
        <tr>
            <td>Students
            <td>Checked In
            <td>Not Judged
            <td>Judged Once
            <td>Judged Twice
            <td>Judged Thrice
        </tr>
        <tr>
            <td align="center">{{stats.total_students}}
            <td align="center">{{stats.checked_in}}
            <td align="center">{{stats.judged0}}
            <td align="center">{{stats.judged1}}
            <td align="center">{{stats.judged2}}
            <td align="center">{{stats.judged3}}
        </tr>
    </table>
    </p>

</font>
