
{% extends "templates/admin/base.html" %}
{% block content %}

<h1>Awards</h1>

<br><br>
<div class="container">
    <div class="col-md-6">
{% for grade in awards|sort %}
Grade {{ grade.0}}
<table class="table">
    {% for student in grade.1|sort-by-reversed:total %}
        <td width="300px">
            {{student.name}}       /      {{student.partner}}
        </td>
        <td> {{student.total}}</td>
    </tr>
    {% endfor %}
</table>

<p>&nbsp;</p>
{% endfor %}
    </div>

</div>

{% endblock %}
