{% extends "templates/admin/base.html" %}
{% block content %}
<head>
    <meta http-equiv="refresh" content="10">
</head>

<h1>
    The Floor
</h1>

<br>

<table class="table">

    <tr>
        {% for table in tables.row1 %}
        <td>&nbsp;&nbsp;</td>
        <th style="text-align:right">{{table.0}}</th>
        <td></td>
        <th>{{table.1}}</th>
        <td>&nbsp;&nbsp;</td>
        {% endfor %}
    </tr>

    {% for num in four-to-one %}
    <tr>
        {% for table in tables.row1 %}
        <td style="background-color: {% judge-color %}">{% judge %}</td>
        <td style="background-color: {% student-color %}">{% student %}</font></td>
        <td style="background-color: black; color: white;">{{num}}</td>
        <td style="background-color: {% student-color 1 %}">{% student 1 %}</td>
        <td style="background-color: {% judge-color 1 %}">{% judge 1 %}</td>
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        {% for table in tables.row2 %}
        <td>&nbsp;&nbsp;</td>
        <th style="text-align:right">{{table.0}}</th>
        <td></td>
        <th>{{table.1}}</th>
        <td>&nbsp;&nbsp;</td>
        {% endfor %}
    </tr>

    {% for num in four-to-one %}
    <tr>
        {% for table in tables.row2 %}
        <td style="background-color: {% judge-color %}">{% judge %}</td>
        <td style="background-color: {% student-color %}">{% student %}</font></td>
        <td style="background-color: black; color: white;">{{num}}</td>
        <td style="background-color: {% student-color 1 %}">{% student 1 %}</td>
        <td style="background-color: {% judge-color 1 %}">{% judge 1 %}</td>
        {% endfor %}
    </tr>
    {% endfor %}


    <tr>

</table>

<div class="row">
    <div class="col-md-6">
        <b>Key:</b>
        <table class="table">
            <tr>
                <td style="background-color: orange">JJ</td>
                <td> Judge's initials</td>
            <tr>
                <td style="background-color: white">SS</td>
                <td> Student initials - not judged</td>
            <tr>
                <td style="background-color: lightpink">SS</td>
                <td> Student initials - judged once</td>
            <tr>
                <td style="background-color: lightblue">SS</td>
                <td> Student initials - judged twice</td>
            <tr>
                <td style="background-color: lightgreen">SS</td>
                <td> Student initials - judged thrice (Finished being judged)</td>
            </tr>
        </table>
    </div>

    {% endblock %}

