{% extends "templates/admin/base.html" %}
{% block content %}

<h2>Admin Page</h2>
<br>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tr>
                {% for header in headers %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>

            {% for row in rows %}
            <tr>
                <td>
                    {{row.name}}
                </td>
                <td>
                    {{row.count}}
                </td>
                <td>
                    {{row.k}}
                </td>
                <td>
                    {{row.first}}
                </td>
                <td>
                    {{row.second}}
                </td>
                <td>
                    {{row.third}}
                </td>
                <td>
                    {{row.fourth}}
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <div class=" panel panel-default">
            <div class="panel-body">

                <form class="form-inline" action="{{servlet-context}}/a/check-in-student" method="post">
                        Student Name &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">Check In Student</button>
                    <br>
                    <br>
                        <select name="student-name" class="form-control" id="student-name" size="20">
                            {% for student in students-not-checked-in %}
                                <option value="{{student.name}}">{{student.team}}</option>
                            {% endfor %}
                        </select>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        {% if checked-in-student %}
            <div class="alert alert-success" role="alert">Checked in: <b>{{checked-in-student.name}}</b> at Table/Position:
                <b>{{checked-in-student.table_assignment}}-{{checked-in-student.position}}</b>
            </div>
        {% endif %}
    </div>

{% endblock %}
