{% extends "templates/admin/base.html" %}
{% block content %}

<h2>Home / Summary</h2>
<br>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tr>
                {% for header in headers %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>

            {% for row in rows %}
            <tr>
                <td>
                    {{row.name}}
                </td>
                <td>
                    {{row.count}}
                </td>
                <td>
                    {{row.k}}
                </td>
                <td>
                    {{row.first}}
                </td>
                <td>
                    {{row.second}}
                </td>
                <td>
                    {{row.third}}
                </td>
                <td>
                    {{row.fourth}}
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


{% endblock %}
